.App {
  text-align: center;
  padding: 20px;
}

.tag {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}
.data_div {
  display: flex;
  padding: 5px;
  align-items: center;
  background-color: #ccc;
}
.tag-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: cyan;
  padding: 10px;
  justify-content: space-between;
}
input {
  margin-left: 5px;
  height: 20px;
}

.add-child {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

button {
  margin-right: 5px;
}

input {
  margin-right: 5px;
}
